@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #6a0b3f;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins';
}

h1{
font-family: "Salsa";
}

label,
input {
  display: flex;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Salsa";
  border-radius: 4px;
  cursor: pointer;
}

.error{
  color: var(--error);
}
